<div class="container">
	<div class="row">
		<div class="col-xs-3">
			<h2>User info</h2>
			<%= render 'users/profile', user: current_user %>
<!--メモ　右側の指定に注意。そこを間違えるとエラーが発生して表示されない -->

			<h2>New book</h2>
			<%= render 'books/newform', book: @book %>
		</div>

		<div class="col-xs-9">

					<% if @user_or_book == "1" %>
					<h2>Users</h2>
						<table class="table">
							<thead>
								<tr>
									<th>image</th>
									<th>name</th>
									<th colspan="3"></th>
								</tr>
							</thead>
							<% @users.each do |user| %>
								<tr>
									<td><%= attachment_image_tag user, :profile_image, :fill, 50, 50, fallback: "no-image-mini.jpg" %></td>
									<td><%= user.name%></td>
									<td><span>フォロー数:</span><%= user.follower.count %></td>
									<td><span>フォロワー数:</span><%= user.followed.count %></td>
									<td><%= render 'relationships/follow', user: user %></td>
									<td><%= link_to "Show", user, class: "user_#{user.id}" %></td>
								</tr>
							<% end %>

					<% elsif @user_or_book == "2" %>
					<h2>Books</h2>

						<%= render 'books/index', books: @books %>

					<% else %>
					<% end %>
			</table>
		</div>
	</div>
</div>

